.body {
    background: #efefef;
}
.main {
    margin:30px;
    background: white;
}
.success{
    float: right;
    margin-bottom: 15px;
}

.label-info{
    margin-right: 12px;
    font-size: 17px;
    white-space: normal;
}