.body {
    width:100%;
    height:100%;
    background-image: url("../img/bg.jpg");
}

.main {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    border-radius: 20px;
}
.success{
    float: right;
    margin-bottom: 15px;
}

.label-info{
    margin-right: 12px;
    font-size: 17px;
    white-space: normal;
}